<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Oblig02</display-name>
  <servlet>
  <servlet-name>LandingServlet</servlet-name>
  <servlet-class>no.hvl.dat104.controller.LandingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MobilLoginServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.deltager.MobilLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaameldingBekreftelseServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.deltager.PaameldingBekreftelseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaameldingServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.deltager.PaameldingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeltagerListeServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.deltagere.DeltagerListeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FerdigServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.deltagere.FerdigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BetalingsOversiktServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.kasserer.BetalingsOversiktServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KassererLoginServlet</servlet-name>
    <servlet-class>no.hvl.dat104.controller.kasserer.KassererLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LandingServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MobilLoginServlet</servlet-name>
    <url-pattern>/mobillogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaameldingBekreftelseServlet</servlet-name>
    <url-pattern>/paameldingbekreftelse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaameldingServlet</servlet-name>
    <url-pattern>/paamelding</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeltagerListeServlet</servlet-name>
    <url-pattern>/deltagere</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FerdigServlet</servlet-name>
    <url-pattern>/ferdig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BetalingsOversiktServlet</servlet-name>
    <url-pattern>/betalingsoversikt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KassererLoginServlet</servlet-name>
    <url-pattern>/kassererlogin</url-pattern>
  </servlet-mapping>
</web-app>